.container {
	border: solid black 2px;
	width: 100%;
	background-color: grey;
	font-size: 3em;
	font-weight: 700;

	.titles {
		margin: auto;
		width: 90vw;
		display: flex;
		justify-content: space-between;
		:last-child {
			position: absolute;
			right: 5px;
			top: 20%;
		}

		button {
			color: white;
			background-color: green;
			border-radius: 100%;
			height: 30px;
		}

		:hover {
			transition: all 0.1s;
			transform: scale(1.1);
		}
	}
}
